<footer>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-2 col-md-4 text-center">
        <div>
          <app-svgserver
            class="d-inline"
            [id]="'main-logo'"
            [color]="''"
            [width]="'103px'"
            [height]="'52px'"
          ></app-svgserver>
        </div>
        <p class="mb-0">
          <small>Copyright Fasaha <br />2023<br />All rights reserved</small>
        </p>
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <small><a href="#" class="nav-link">Home</a></small>
          </li>

          <li class="nav-item">
            <small><a href="#" class="nav-link">Programs Components</a></small>
          </li>
          <li class="nav-item">
            <small><a href="#faqs" class="nav-link">FAQs</a></small>
          </li>
          <li class="nav-item">
            <small><a href="#" class="nav-link">Apply</a></small>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-4 text-center">
        <p class="mb-3">
          <small
            >Contact us at <br />
            Fasaha 4.0@gmail.com
          </small>
        </p>
        <div class="d-flex justify-content-around">
          <app-svgserver
            class=""
            [id]="'facebook-icon'"
            [color]="'#52B848'"
            [width]="'25px'"
            [height]="'25px'"
          ></app-svgserver>

          <app-svgserver
            class=""
            [id]="'instagram-icon'"
            [color]="'#52B848'"
            [width]="'25px'"
            [height]="'25px'"
          ></app-svgserver>

          <app-svgserver
            class=""
            [id]="'linkedin-icon'"
            [color]="'#52B848'"
            [width]="'25px'"
            [height]="'25px'"
          ></app-svgserver>

          <app-svgserver
            class=""
            [id]="'twitter-icon'"
            [color]="'#52B848'"
            [width]="'25px'"
            [height]="'25px'"
          ></app-svgserver>
        </div>
      </div>
    </div>
  </div>
</footer>
