<section class="top-border-line bottom-border-line socials">
  <div class="container">
    <div class="row social-logo">
      <div class="col-md-3 col-3">
        <a
          href="https://web.facebook.com/FasahaNG/"
          target="_blank"
          class="nav-link"
          ><div class="d-flex justify-content-center">
            <div class="d-flex align-items-center">
              <app-svgserver
                class="img-fluid me-sm-3 me-0"
                [id]="'facebook-icon'"
                [color]="'#8B97A7'"
                [width]="'25px'"
                [height]="'25px'"
              ></app-svgserver>
            </div>
            <span class="title social d-none d-sm-inline">Facebook</span>
          </div></a
        >
      </div>
      <div class="col-md-3 col-3">
        <a
          href="https://www.instagram.com/Fasaha4.0/"
          target="_blank"
          class="nav-link"
          ><div class="d-flex justify-content-center">
            <div class="d-flex align-items-center">
              <app-svgserver
                class="img-fluid me-sm-3 me-0"
                [id]="'instagram-icon'"
                [color]="'#8B97A7'"
                [width]="'25px'"
                [height]="'25px'"
              ></app-svgserver>
            </div>
            <span class="title social d-none d-sm-inline">Instagram</span>
          </div></a
        >
      </div>
      <div class="col-md-3 col-3">
        <a
          href="https://www.linkedin.com/company/fasahanigeria"
          target="_blank"
          class="nav-link"
          ><div class="d-flex justify-content-center">
            <div class="d-flex align-items-center">
              <app-svgserver
                class="img-fluid me-sm-3 me-0"
                [id]="'linkedin-icon'"
                [color]="'#8B97A7'"
                [width]="'25px'"
                [height]="'25px'"
              ></app-svgserver>
            </div>
            <span class="title social d-none d-sm-inline">LinkedIn</span>
          </div></a
        >
      </div>
      <div class="col-md-3 col-3">
        <a href="https://twitter.com/FasahaNG/" target="_blank" class="nav-link"
          ><div class="d-flex justify-content-center">
            <div class="d-flex align-items-center">
              <app-svgserver
                class="img-fluid me-sm-3 me-0"
                [id]="'twitter-icon'"
                [color]="'#8B97A7'"
                [width]="'25px'"
                [height]="'25px'"
              ></app-svgserver>
            </div>
            <span class="title social d-none d-sm-inline">Twitter</span>
          </div></a
        >
      </div>
    </div>
  </div>
</section>
