<section class="top-border-line bottom-border-line reach-out">
  <div class="container section-padding right-border-line left-border-line">
    <div class="row">
      <div class="reach-out-header mb-2">
        <div class="subtitle amber-subtitle">Reach out to us</div>
        <div class="title blue-title">
          Our team is always on hand to provide
          <br />
          you support
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col col-sm-12 col-md-12 col-lg-4">
        <div
          class="card d-flex align-items-center justify-content-center gap-2"
        >
          <div>
            <app-svgserver
              class=""
              [id]="'email-icon'"
              [color]="'#F2B848'"
              [width]="'40px'"
              [height]="'40px'"
            ></app-svgserver>
          </div>

          <div class="card-text--primary">Email us at</div>

          <div class="card-text--secondary">Fasaha4.0@gmail.com</div>
        </div>
      </div>
      <div class="col col-sm-12 col-md-12 col-lg-4">
        <div
          class="card d-flex align-items-center justify-content-center gap-3"
        >
          <div>
            <app-svgserver
              class=""
              [id]="'phone-icon'"
              [color]="'#F2B848'"
              [width]="'40px'"
              [height]="'40px'"
            ></app-svgserver>
          </div>

          <div class="card-text--primary">Call us on</div>

          <div class="card-text--secondary">
            08120907931
            <br />
            08020907938
          </div>
        </div>
      </div>
      <div class="col col-sm-12 col-md-12 col-lg-4">
        <div
          class="card d-flex align-items-center justify-content-center gap-3"
        >
          <div>
            <app-svgserver
              class=""
              [id]="'instagram-icon'"
              [color]="'#F2B848'"
              [width]="'40px'"
              [height]="'40px'"
            ></app-svgserver>
          </div>

          <div class="card-text--primary">Send us a Dm</div>

          <div class="card-text--secondary">@Fasaha4.0@gmail.com</div>
        </div>
      </div>
    </div>
  </div>
</section>
