<section class="bottom-border-line faqs" id="faqs">
  <div class="container section-padding right-border-line left-border-line">
    <div class="row">
      <div class="faqs-header mb-2">
        <div class="subtitle amber-subtitle">Need Help?</div>
        <div class="title blue-title">Frequently Asked Questions</div>
        <div class="faqs-text--primary">
          The Gina Mata Gina Al’uma program aims to train 620 young women across
          4 states in northern Nigeria;
        </div>
      </div>
    </div>

    <div class="faqs-container mt-5">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <accordion [isAnimated]="true" [closeOthers]="true">
            <accordion-group
              class="ccordion-toggle"
              heading="How do I register for the Gina Mata T-T-T event in Abuja? "
            >
              <p>Some content The Gina Mata Gina Al’uma program aims t Some content</p>
            </accordion-group>
            <accordion-group
              class="ccordion-toggle"
              heading="Who is eligible to apply for Gina Mata? "
            >
              <p>Some content The Gina Mata Gina Al’uma program aims t Some content</p>
            </accordion-group>
            <accordion-group
              class="ccordion-toggle"
              heading="Is Fasaha 4.0 remote or hybrid?"
            >
              <p>Some content The Gina Mata Gina Al’uma program aims t Some content</p>
            </accordion-group>
            <accordion-group
              class="ccordion-toggle"
              heading="Is Fasaha 4.0 remote or hybrid?"
            >
              <p>Some content The Gina Mata Gina Al’uma program aims t Some content</p>
            </accordion-group>
            <accordion-group
              class="ccordion-toggle"
              heading="How do I register for the Gina Mata T-T-T event in Abuja? "
            >
              <p>Some content The Gina Mata Gina Al’uma program aims t Some content</p>
            </accordion-group>
          </accordion>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6">
          <accordion [isAnimated]="true" [closeOthers]="true">
            <accordion-group
              class="ccordion-toggle"
              heading="How do I register for the Gina Mata T-T-T event in Abuja? "
            >
              <p>Some content The Gina Mata Gina Al’uma program aims t Some content</p>
            </accordion-group>
            <accordion-group
              class="ccordion-toggle"
              heading="Who is eligible to apply for Gina Mata? "
            >
              <p>Some content The Gina Mata Gina Al’uma program aims t Some content</p>
            </accordion-group>
            <accordion-group
              class="ccordion-toggle"
              heading="Is Fasaha 4.0 remote or hybrid?"
            >
              <p>Some content The Gina Mata Gina Al’uma program aims t Some content</p>
            </accordion-group>
            <accordion-group
              class="ccordion-toggle"
              heading="Is Fasaha 4.0 remote or hybrid?"
            >
              <p>Some content The Gina Mata Gina Al’uma program aims t Some content</p>
            </accordion-group>
            <accordion-group
              class="ccordion-toggle"
              heading="How do I register for the Gina Mata T-T-T event in Abuja? "
            >
              <p>Some content The Gina Mata Gina Al’uma program aims t Some content</p>
            </accordion-group>
          </accordion>
        </div>
      </div>
    </div>
  </div>
</section>
