<div class="container section-padding">
  <div class="row hero my-4 my-sm-0">
    <div class="col-lg-7 d-flex align-items-center">
      <div>
        <h1 class="hero-text title">
          <span class="hero-line">Gina Mata, Gina Al'umma </span>
          <br class="d-none d-lg-block" />
          Building Women, Empowering Communities.
        </h1>
        <div class="hero-content">
          <p class="mb-0">
            Gina Mata, Gina Al-umma, translated as “Build up women, Build the
            community”, <br class="d-none d-lg-block" />
            is a digital skills development program designed to identify,
            prepare, and connect
            <br class="d-none d-lg-block" />
            disadvantaged girls and young women with emerging skills in the
            knowledge <br class="d-none d-lg-block" />
            economy. The programme aims to integrate more women into the gig
            ecosystem <br class="d-none d-lg-block" />
            and significantly improve girls' and women’s economic participation
            in the digital <br class="d-none d-lg-block" />
            space
          </p>
        </div>

        <button
          role="button"
          type="button"
          class="btn green-btn btn-padding d-none d-lg-block"
          tabindex="0"
        >
          Apply now
        </button>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-center">
      <div class="text-center">
        <div class="img-fluid">
          <app-svgserver
            class="d-none d-lg-block"
            [id]="'hero-illustration'"
            [color]="'white'"
            [width]="'566px'"
            [height]="'566px'"
          ></app-svgserver>

          <app-svgserver
            class="d-lg-none"
            [id]="'hero-illustration'"
            [color]="'white'"
            [width]="'100%'"
            [height]="'100%'"
          ></app-svgserver>
        </div>

        <div class="d-flex gap-2 d-lg-none mt-5">
          <button
            role="button"
            type="button"
            class="btn green-btn btn-padding"
            tabindex="0"
          >
            Apply now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
