<section class="location" id="location">
  <div class="container section-padding right-border-line left-border-line">
    <div class="row">
      <div class="location-header mb-2">
        <div class="subtitle amber-subtitle">Location</div>
        <div class="title blue-title">
          Happening in four (4) States close to you!
        </div>
        <div class="location-text--primary">
          The Gina Mata Gina Al’uma program aims to train 620 young women across
          4 states in northern Nigeria;
        </div>
      </div>
    </div>

    <div class="location mt-5">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4"></div>
        <div class="col-sm-12 col-md-12 col-lg-4"></div>
        <div class="col-sm-12 col-md-12 col-lg-4"></div>
      </div>
    </div>
  </div>
</section>
