<section class="location" id="location">
  <div class="container section-padding right-border-line left-border-line">
    <div class="row">
      <div class="location-header mb-2">
        <div class="subtitle amber-subtitle">Location</div>
        <div class="title blue-title">
          Happening in
          <br />
          four (4) States close to you!
        </div>
        <div class="location-text--primary mt-3">
          The Gina Mata Gina Al’uma program aims to train 620 young women across
          4 states in northern Nigeria;
        </div>
      </div>
    </div>

    <div class="location mt-3">
      <div class="row">
        <div class="location-box">
          <div class="location-icon-wrapper location-icon-wrapper--kano">
            <app-svgserver
              class=""
              [id]="'location-icon'"
              [color]="'#292D32'"
              [width]="'16px'"
              [height]="'16px'"
            ></app-svgserver>
          </div>

          <div class="small subtitle blue-subtitle">Kano</div>
        </div>

        <div class="location-box">
          <div class="location-icon-wrapper location-icon-wrapper--zamfara">
            <app-svgserver
              class=""
              [id]="'location-icon'"
              [color]="'#292D32'"
              [width]="'16px'"
              [height]="'16px'"
            ></app-svgserver>
          </div>

          <div class="small subtitle blue-subtitle">Zamfara</div>
        </div>

        <div class="location-box">
          <div class="location-icon-wrapper location-icon-wrapper--gombe">
            <app-svgserver
              class=""
              [id]="'location-icon'"
              [color]="'#292D32'"
              [width]="'16px'"
              [height]="'16px'"
            ></app-svgserver>
          </div>

          <div class="small subtitle blue-subtitle">Gombe</div>
        </div>

        <div class="location-box">
          <div class="location-icon-wrapper location-icon-wrapper--borno">
            <app-svgserver
              class=""
              [id]="'location-icon'"
              [color]="'#292D32'"
              [width]="'16px'"
              [height]="'16px'"
            ></app-svgserver>
          </div>

          <div class="small subtitle blue-subtitle">Borno</div>
        </div>
      </div>
    </div>

    <div class="image-gallery-wrapper mt-5">
      <div class="subtitle blue-subtitle b">
        Gina Mata Gina Al’umma Program
        <br />
        Launch
      </div>
      <div class="location-text--primary mt-2 w-75">
        Gina Mata launch will be happening in Abuja Nigeria, It is a two days
        program  that aims to increase digital skills capabilities by
        integrating young women who are conversant with the use of the ICT tools
        and skills to improve the quality of digital skills training and drive
        local sustainability around the usage of the digital platforms in our
        secondary schools
      </div>
    </div>

    <div class="image-gallery mt-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="image img-fluid one"></div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="image img-fluid two"></div>
            <div class="image img-fluid three"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
