<section class="location" id="location">
  <div class="container section-padding right-border-line left-border-line">
    <div class="row">
      <div class="location-header mb-2">
        <div class="subtitle amber-subtitle">Location</div>
        <div class="title blue-title">
          Happening in four (4) States close to you!
        </div>
        <div class="location-text--primary mt-3">
          The Gina Mata Gina Al’uma program aims to train 620 young women across
          4 states in northern Nigeria;
        </div>
      </div>
    </div>

    <div class="location mt-5">
      <div class="row">
        <div class="location-box">
          <div class="location-icon-wrapper location-icon-wrapper--kano">
            <app-svgserver
              class=""
              [id]="'location-icon'"
              [color]="'#292D32'"
              [width]="'16px'"
              [height]="'16px'"
            ></app-svgserver>
          </div>

          <div class="subtitle blue-subtitle">Kano</div>
        </div>

        <div class="location-box">
          <div class="location-icon-wrapper location-icon-wrapper--zamfara">
            <app-svgserver
              class=""
              [id]="'location-icon'"
              [color]="'#292D32'"
              [width]="'16px'"
              [height]="'16px'"
            ></app-svgserver>
          </div>

          <div class="subtitle blue-subtitle">Zamfara</div>
        </div>

        <div class="location-box">
          <div class="location-icon-wrapper location-icon-wrapper--gombe">
            <app-svgserver
              class=""
              [id]="'location-icon'"
              [color]="'#292D32'"
              [width]="'16px'"
              [height]="'16px'"
            ></app-svgserver>
          </div>

          <div class="subtitle blue-subtitle">Gombe</div>
        </div>

        <div class="location-box">
          <div class="location-icon-wrapper location-icon-wrapper--borno">
            <app-svgserver
              class=""
              [id]="'location-icon'"
              [color]="'#292D32'"
              [width]="'16px'"
              [height]="'16px'"
            ></app-svgserver>
          </div>

          <div class="subtitle blue-subtitle">Borno</div>
        </div>
      </div>
    </div>
  </div>
</section>
