<section class="top-border-line bottom-border-line partners">
  <div class="container">
    <div class="row partners-logo">
      <div class="col-lg-3 col-6 text-center">
        <a rel="noopener" href="http://fmcde.gov.ng/" target="_blank"
          ><img
            src="/assets/images/logos/partners-logos/Federal-Ministry-of-Communications-and-Digital-Economy.svg"
            alt=""
            class="img-fluid"
        /></a>
      </div>
      <div class="col-lg-3 col-6 text-center">
        <a rel="noopener" href="https://nitda.gov.ng/" target="_blank"
          ><img
            src="/assets/images/logos/partners-logos/NITDA.svg"
            alt=""
            class="img-fluid"
        /></a>
      </div>
      <div class="col-lg-3 col-6 text-center">
        <a
          rel="noopener"
          href="https://www.worldbank.org/en/home"
          target="_blank"
          ><img
            src="/assets/images/logos/partners-logos/World-Bank.svg"
            alt=""
            class="img-fluid"
        /></a>
      </div>
      <div class="col-lg-3 col-6 text-center">
        <a rel="noopener" href="http://natview.ng/" target="_blank"
          ><img
            src="/assets/images/logos/partners-logos/Natview.svg"
            alt=""
            class="img-fluid"
        /></a>
      </div>
    </div>
  </div>
</section>
