<section class="top-border-line program-components" id="program-components">
  <div class="container section-padding right-border-line left-border-line">
    <div class="row">
      <div class="program-components-header mb-2">
        <div class="subtitle amber-subtitle">Program Components</div>
        <div class="title blue-title">
          Specially curated to drive the implementation of digital skills
        </div>
        <div class="program-components-text--primary">
          The initiative is divided into 3 components focused on providing a gender lens approach that incorporates gender-sensitive designs, analyses, implementation and evaluation that addresses the barriers that persistently deny access across all aspects of participation in the digital economy.
        </div>
      </div>
    </div>

    <div class="program-components mt-5">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4"></div>
        <div class="col-sm-12 col-md-12 col-lg-4"></div>
        <div class="col-sm-12 col-md-12 col-lg-4"></div>
      </div>
    </div>
  </div>
</section>
