<section class="top-border-line program-components" id="program-components">
  <div class="container section-padding right-border-line left-border-line">
    <div class="row">
      <div class="program-components-header mb-2">
        <div class="subtitle amber-subtitle">Program Components</div>
        <div class="title blue-title">
          Specially curated to drive the implementation of digital skills
        </div>
        <div class="program-components-text--primary">
          The initiative is divided into 3 components focused on providing a
          gender lens approach that incorporates gender-sensitive designs,
          analyses, implementation and evaluation that addresses the barriers
          that persistently deny access across all aspects of participation in
          the digital economy.
        </div>
      </div>
    </div>

    <div class="program-components mt-5">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="program-wrapper d-flex align-items-start gap-4">
            <div class="program-icon-wrapper">
              <app-svgserver
                class=""
                [id]="'award-icon'"
                [color]="'#292D32'"
                [width]="'25px'"
                [height]="'25px'"
              ></app-svgserver>
            </div>
            <div class="program-text">
              <div class="blue-text">Makoyan Fasaha</div>
              <small>
                Enhancing the capacity of Instructors and teachers to deliver
                market-Relevant digital skills training around delivering modern
                teaching methods
              </small>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="program-wrapper d-flex align-items-start gap-4">
            <div class="program-icon-wrapper">
              <app-svgserver
                class=""
                [id]="'award-icon'"
                [color]="'#292D32'"
                [width]="'25px'"
                [height]="'25px'"
              ></app-svgserver>
            </div>
            <div class="program-text">
              <div class="blue-text">Dalibar Fasaha</div>
              <small>
                Integrating right based curriculum,  creating a more diverse and
                inclusive workforce and for advancing innovation and progress in
                society.
              </small>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="program-wrapper d-flex align-items-start gap-4">
            <div class="program-icon-wrapper">
              <app-svgserver
                class=""
                [id]="'award-icon'"
                [color]="'#292D32'"
                [width]="'25px'"
                [height]="'25px'"
              ></app-svgserver>
            </div>
            <div class="program-text">
              <div class="blue-text">Matan Fasaha</div>
              <small>
                The digital economy, enables the use of digital infrastructure
                and competencies that can deliver innovation, and generate
                well-paying jobs for young women.
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
